.homepage{
    footer#bottom{
        background: #5d8d3a !important;
        //background: url("../img/bg_footer.jpg") center bottom no-repeat !important;
        padding: 0 0 0 0;
    }
}


footer#bottom {
    background: #5d8d3a !important;
    //background: url("../img/bg_footer.jpg") center center no-repeat !important;
    padding: 0 0;
}

#footer .te_footer_info_text li:first-child {
    border: none !important;
}


#footer .te_footer_info_text li {
    border-top: 1px solid #ffffff !important;
}

#footer .te_footer_info_ept li{
    padding: 6px 0 !important;
}

#bottom{
    .container.pb-3.te_end_ftr_container.pt-2{
        .row.align-items-center {
            position: relative !important;
            top: 10px ;
        }
        section.te_payment_list span {
            color: white;
        }
    }
}

.o_footer {
    color: #f7f7f7 !important;
}