.homepage{
    footer#bottom{
        background: #5d8d3a !important;
        //background: url("../img/bg_footer.jpg") center bottom no-repeat !important;
        padding: 0 0 0 0;
    }
}



div#footer .te_footer_detail .te_footer_logo_title_socialicon {
    background-color: #ffffff00 !important;
    color: #ffffff !important;
    margin-top: 0px !important;
    box-shadow: none !important;
}
footer.o_footer .te_footer_info_text .te_ftr_text_style a{ color: #f7f7f7 !important;}


footer.o_footer .te_footer_social_icon > a{ color: #ffffff !important;}

footer#bottom {
    background: #5d8d3a !important;
    //background: url("../img/bg_footer.jpg") center center no-repeat !important;
    padding: 0 0;
}

#footer .te_footer_info_text li:first-child {
    border: none !important;
}


#footer .te_footer_info_text li {
    border-top: 1px solid #ffffff !important;
}

#footer .te_footer_info_ept li{
    padding: 6px 0 !important;
}


#footer .te_footer_info_ept li a:hover{color: #f9c010 !important;}

#bottom{
    .container.pb-3.te_end_ftr_container.pt-2{
        .row.align-items-center {
            position: relative !important;
            top: 10px ;
        }
        section.te_payment_list span {
            color: white;
        }
    }
}

.o_footer {
    color: #f7f7f7 !important;
}