
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@font-face{
	font-family: 'Open Sans';
	/*font-weight: 300; ligth*/
	/*font-weight: 400; regular*/
	/*font-weight: 500; Semi-bold*/
	/*font-weight: 700; blod*/
	/*font-weight: 900; extra-bold*/
}


@font-face {
	font-family:"Oblik-Bold";
	src: url("/h4o_banariego/static/src/Oblik-Bold.otf")  format('embedded-opentype');
  }

  @font-face {
	font-family:"Oblik-Bold-italic";
	src: url("/h4o_banariego/static/src/OblikBoldItalic.otf")  format('embedded-opentype');
  }


  